<p>Home works!</p>
<section id="hero" class="d-flex justify-content-center align-items-center">
    <div  class="container">
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Packer Application</span></h2>
          <p class="animate__animated animate__fadeInUp">The goal of this application is to discover the best combination of products to include in a package. The goal is to minimize the total cost of the items while keeping the total weight of the package within a certain weight restriction. When there are many packages with the same total cost, the package with the lowest weight is chosen.</p>
          <div class="input-group m-3">
            <input #fileInput type="file" class="form-control" id="file" accept=".txt">
          </div>
          <div class="d-grid mx-auto">
            <button class="btn-get-started animate__animated animate__fadeInUp scrollto" type="button" (click)="processInput(fileInput)">Process File</button>
          </div>
        </div>
      </div>
  
    </div> 
  </section><!-- End Hero -->
  <section id="icon-boxes" class="icon-boxes">
    <div class="container">
      <h2 class="animate__animated animate__fadeInDown text-center heading">Output Results
        <i class="fa fa-print" aria-hidden="true"></i>
      </h2>
      <div class="mb-3">
        <textarea class="form-control" [value]="outputText" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
    </div>
  </section>